:root {
  --primary: #2c73d2;
  --btn-hover: rgba(44, 115, 210, 0.85);
  --error: #d32f2f;
  --success: #388e3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 2.2rem 1.8rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  max-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  align-items: flex-start;
}

.form-group label,
.form-group p {
  padding-bottom: 0.35rem;
  font-size: 14px;
  font-weight: 500;
}

.form-group input {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  width: 100%;
  transition: all 0.1s;
  position: relative;
}

.form-group.error input {
  border: 1px solid var(--error) !important;
}

.form-group input:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.error-msg {
  display: none;
  color: var(--error);
  padding-top: 0.25rem;
}

.error .error-msg {
  display: block;
}

.radio-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem 0.7rem;
}

.radio-input label {
  padding-bottom: 0;
  padding-left: 0.4rem;
}

.radio-input label,
.radio-input input {
  cursor: pointer;
}

.success.active {
  background-color: var(--success);
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  font-weight: 500;
  font-size: 14px;
  margin-top: 0.75rem;
}

.success p {
  display: none;
}
.success.active p {
  display: block;
}

button {
  background-color: var(--primary);
  border: none;
  padding: 0.7rem 1.4rem;
  color: white;
  border-radius: 0.6rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  letter-spacing: 0.5px;
}

button:hover {
  background-color: var(--btn-hover);
}

.btn-container {
  padding-top: 1.5rem;
  text-align: center;
}
